#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.file-details {
    margin-top: 30px;

    ul {
        padding: 0;
        text-align: left;
    }
}

.file-upload-error {
    color: red;
}

.file-upload-success {
    color: green;
}
